services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: minicar-dev
    container_name: minicar-dev
    volumes:
      - ../:/home/pi/code
    working_dir: /home/pi/code
    stdin_open: true
    tty: true
    # 実機環境でGPIO/I2Cアクセスが必要な場合は以下のコメントを外してください
    # privileged: true
    # network_mode: host
    # volumes:
    #   - ../:/home/pi/code
    #   - /dev:/dev
    command: /bin/bash

